<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shop - {% block title %}Dashboard{% endblock %}</title>
        <link href="/media/css/bootstrap.min.css" rel="stylesheet">
        <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/media/css/dashboard.css" rel="stylesheet">
        
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script src="/media/js/bootstrap.min.js"></script>
		{% block extra_head %}{% endblock %}        
    </head>
    <body>
    	<div id="form" class="modal hide" role="dialog" tabindex="-1" aria-labelledby="modal-title"></div>
	 	<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Dashboard</a>
				<div class="nav-collapse collapse">
				    <ul class="nav">
						<li class="active"><a href="/">Home</a></li>
				    </ul>
				</div>
			</div>
			</div>
		</div>
		
		<ul class="breadcrumb">
			<li><a href="/">Home</a> <span class="divider">/</span></li>
			{% block breadcrumbs %}{% endblock %}
		</ul>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
     	
    </body>
</html>