{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block content %}
<form class="form-signin" method='POST'>
    {{ form.csrf_token }}
    <h2 class="form-signin-heading">Please sign in</h2>

    <div class="control-group">
        <div class="controls">
            {{ form.email(placeholder="Email address", class="input-block-level") }}
            <ul class="errors">{% for error in form.email.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form.password(placeholder="Password", class="input-block-level") }}
            <ul class="errors">{% for error in form.password.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        </div>
    </div>

    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>

{% endblock %}